{% load static %}
<footer>
  <div class="row">
    <div class="small-5 columns small-centered text-center">
      <div class="row">
        <div class="small-12 columns">
          <span>Ver código fuente en <a href="https://github.com/mars0n/layers-pw">GitHub</a></span>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns small-centered">
          <a href="https://github.com/mars0n/layers-pw"><img src="{% static 'img/GitHub-Mark-32px.png' %}"></a>
        </div>
      </div>
    </div>
  </div>
</footer>