// Fonts

@import url(https://fonts.googleapis.com/css?family=Roboto:100,900,400);
$body-font-family:'Roboto', Arial, sans-serif !important;
$font-thin: 100;
$font-normal: 400;
$font-bold: 900;


// Common Colors
$white       : #FFFFFF;
$black       : #000000;

// Colors
$light-black: lighten($black, 80);
$college-color: #72112B;
$college-color-hover: #80102E;
$light-college-color: lighten($college-color, 70);

html, body {
    background-color: $light-black;
    margin: 0 auto;
    font-family: $body-font-family;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: $font-bold;
    font-family: $body-font-family;
}
a {
    color: $college-color;
    &:hover {
        color: $college-color-hover;
    }
}

blockquote {
    font-weight: $font-thin;
    color: $college-color;
}

button, .button {
    -webkit-border-radius: rem-calc(5);
    border-radius: rem-calc(5);
    padding: rem-calc(24) rem-calc(90);
    background-color: $college-color;
    color: $white;
    &:hover {
        background-color: $college-color-hover;
    }
}



header {
    position: relative;
    background-color: $college-color;
    ul {
        max-width: 100%;
        li{
            color: $white; 
            line-height: rem-calc(64);
            padding: 0 !important;
        }
    }
}

section {
    background-color: $white;
    .breadcrumbs {
        margin: 0 auto;
        li {
            a {
                color: $college-color;
            }
        }
    }
    &.home, &.afip {
        .spaced {
            position: relative;
            padding-top: rem-calc(35);
            padding-bottom: rem-calc(20);

        }
        .wrapper {
            border: 1px solid $light-black;
            margin-bottom: rem-calc(16);
        }
    }
    &.afip {
        ul {
            &.errorlist {
                position: absolute;
                bottom: 10px;
                margin: 0;
                width: 100%;
                li {
                    list-style: none;
                    background-color: red;
                    color: $white;
                    padding: rem-calc(0 10);
                }
            } 
        }
        .verification {
            min-height: rem-calc(150);
            background-color: $light-college-color;
            margin-bottom: rem-calc(40);
            h3 {
                line-height: rem-calc(150);
            }
        }
    }
}

footer {
    background-color: $light-black;
    padding-top: rem-calc(32);
    padding-bottom: rem-calc(32);
}
