// Fonts

@import url(https://fonts.googleapis.com/css?family=Roboto:100,900,400);
$body-font-family:'Roboto', Arial, sans-serif !important;
$font-thin: 100;
$font-normal: 400;
$font-bold: 900;


// Common Colors
$white: #FFFFFF;
$black: #000000;
$light-black: lighten($black, 80);
// Colors

$nav-color: #72112B;
$quotes-color: $nav-color;

html, body {
    background-color: $light-black;
    margin: 0 auto;
    font-family: $body-font-family;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: $font-bold;
    font-family: $body-font-family;
}

blockquote {
    font-weight: $font-thin;
    color: $quotes-color;
}

button, .button {
    -webkit-border-radius: rem-calc(5);
    border-radius: rem-calc(5);
    padding: rem-calc(24) rem-calc(90)
}


header {
    position: relative;
    background-color: $nav-color;
    ul {
        max-width: 100%;
        li{
            color: $white; 
            line-height: rem-calc(64);
            padding: 0 !important;
        }
    }
}
section {
    background-color: $white;
    &.home {
        .spaced {
            padding-top: rem-calc(35);
            padding-bottom: rem-calc(20);
        }
        .wrapper {
            border: 1px solid $light-black;
            margin-bottom: rem-calc(16);
        }
    }
}

footer {
    background-color: $light-black;
    padding-top: rem-calc(32);
    padding-bottom: rem-calc(32);
}
