{% extends "base.html" %}

{% block main %}

{% block content %}
<section>
<ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li class="current"><a href="{% url 'afip:home' %}">Verificator</a></li>
</ul>
</section>
<section class="afip">
<div class="row">
    <div class="small-12 text-center columns">
        <h3>AFIP Cuil/Cuit Verificator</h3>
        <hr />
    </div>
</div>
<div class="row">
    <div class="small-12 columns">
        <form action='{% url 'afip:result' %}' method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="small-10 end columns">
                    {{ form }}
                    <!--div class="row">
                        <div class="small-3 columns">
                            <label for="right-label" class="right inline">Cuil</label>
                        </div>
                        <div class="small-9 columns">
                            <input type="text" id="right-label" name="cuil" placeholder="Ingrese Cuil a Verificar.">
                        </div>
                    </div-->
                </div>
                <div class="small-4 end small-centered text-center columns">
                    <button type="submit">Validar</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% if verification %}
<div class="row">
    <div class="small-12 columns text-center">
        <h1>{{ verification }}<h1>
    </div>
</div>
{% endif %}

</section>
{% endblock content %}

{% endblock main %}
